* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-header { background-color: #2563eb; 
}

.bg-hero { background-color: #4074c8; }
.bg-event { background-color: #c86240; }
.bg-footer { background-color: #c86240; }
.text-light { color: #ffffff; }
.text-dark { color: #1f2937; }


header{
    border: 2px solid black;
}

.event-container{
    display:flex;
    flex-direction: column;
    border: 1px groove #1f2937;
}

.card{
    border: 1px solid grey;
}

.card h3{
    color: white;
    background-color: #c86240;
}


.nav{
    display: flex;

}
.nav a {
    color: #ffffff;
    margin:5px
}


