* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-header { background-color: #2563eb; 
}

.bg-hero { background-color: #4074c8; }
.bg-event { background-color: #c86240; }
.bg-footer { background-color: midnightblue; }
.text-light { color: #ffffff; }
.text-dark { color: #1f2937; }


header{
    border: 2px solid black;
    margin-bottom: 20px;
}

.event-container{
    display:grid;
    grid-template-columns: auto;
    border: 1px groove #1f2937;
    padding: 2px;
}

.card{
    border: 1px solid grey;
    padding: 2px;
}

.card h3{
    text-align: center;
    color: white;
    background-color: #c86240;
}

.card p{
    font-size: larger;
    padding-top: 5px;
}

.nav{
    display: flex;

}
.nav a {
    color: #ffffff;
    margin:5px
}

footer{
    position: absolute;
    bottom: 0px;

    width: 100%;
}
.footer_container{
    display:flex;
    flex-direction:row;
}

footer a{
    color: white;
}

.hero-container {
    background-color: lightskyblue;
    border: 2px solid black;
    padding: 25px;
}

.hero-header {
    color: white;
    text-align: center;
}

#hero-p {
    color: white;
    text-align: center;
}

@media (600px < width < 900px ){
    .event-container{
        grid-template-columns: 50% 50%;
    }

}

@media (width > 900px ){
    .event-container{
        grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);

    }
}
    
