* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-header { background-color: #2563eb; 
}

.bg-hero { background-color: #4074c8; }
.bg-event { background-color: #c86240; }
.bg-footer { background-color: midnightblue; }
.text-light { color: #ffffff; }
.text-dark { color: #1f2937; }


header{
    border: 2px solid black;
    margin-bottom: 20px;
}

.event-container{
    display:flex;
    flex-direction: column;
    border: 1px groove #1f2937;
}

.card{
    border: 1px solid grey;
}

.card h3{
    text-align: center;
    color: white;
    background-color: #c86240;
}


.nav{
    display: flex;

}
.nav a {
    color: #ffffff;
    margin:5px
}

footer{
    display:flex;
    flex-direction:row;
}

footer a{
    color: white;
}

.hero-container {
    background-color: lightskyblue;
    border: 2px solid black;
    padding: 25px;
}

.hero-header {
    color: white;
    text-align: center;
}

#hero-p {
    color: white;
    text-align: center;
}